// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Navbar//
////////////////////////////////

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

////////////////////////////////
		// Eisenhower Matrix //
////////////////////////////////
$matrix_width: 800px;
$matrix_height: 500px;
$quadrant_width: $matrix_width / 2;
$quadrant_height: $matrix_height / 2;

.ematrix {
  width: $matrix_width;
  height: $matrix_height;
  margin: 20px auto;
}

.quadrant {
  float: left;
  display: block;
  width: $quadrant_width;
  height: $quadrant_height;
  color: $white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
}

.quadrant1 {
  background: $mint-green;
}

.quadrant2 {
  background: $mint-green;
}

.quadrant3 {
  background: lighten($red, 20%);
}

.quadrant4 {
  background: lighten($red, 20%);
}