{% extends "base.html" %}
{% load static %}

{% block content %}
<script> var initialTimesessions = {{ sessions|safe }};</script>
<div id="user-data" data-user-id="{{ request.user.id }}" data-user-username="{{ request.user.username }}"></div>
<div id="root"></div>
<div class="container">
    <div class="row graphs">
        <div class="col">
            <div class="card">
                <div class="card-header">Time Spent This Week</div>
                <div class="card-block">
                    <img src="{% static 'images/graph1.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Time Spent This Month</div>
                <div class="card-block">
                    <img src="{% static 'images/graph1.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}